<app-toolbar
  title="updaterecipe-form"
  (uploaded)="onUploaded($event)"
></app-toolbar>

<ion-content>
  <form #updateForm="ngForm" (submit)="onUpdateRecipe(updateForm)">
    <ion-grid
      ><ion-row
        ><ion-col
          ><ion-item
            ><ion-label position="floating">Title</ion-label
            ><ion-input
              name="title"
              required
              [ngClass]="{'red':titleerror}"
              [(ngModel)]="title"
              type="text"
            ></ion-input></ion-item></ion-col></ion-row
      ><ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">ImageUrl</ion-label
            ><ion-input
              name="imageUrl"
              [ngClass]="{'red':imageUrlerror}"
              required
              [(ngModel)]="imageUrl"
              type="text"
            ></ion-input></ion-item></ion-col></ion-row
      ><ion-row
        ><ion-col
          ><ion-item
            ><ion-label position="floating"
              >Ingredients(Must be separeted with Komma)</ion-label
            ><ion-input
              required
              [ngClass]="{'red':ingredientserror}"
              name="ingredients"
              [(ngModel)]="ingredients"
              type="text"
            ></ion-input></ion-item></ion-col
      ></ion-row>
      <ion-row
        ><ion-col>
          <ion-buttons class="ion-margin"
            ><ion-button color="danger" fill="outline">Cancel</ion-button
            ><ion-button type="submit" color="primary" fill="solid"
              >Submit</ion-button
            ></ion-buttons
          ></ion-col
        ></ion-row
      ></ion-grid
    >
  </form>
</ion-content>
