<div>
  <ion-toolbar color="primary">
    <ion-title>recipes</ion-title>
    <ion-buttons slot="primary"
      ><ion-button (click)="onAddRecipeForm()"
        ><ion-icon name="create-outline"></ion-icon></ion-button
      ><ion-button (click)="logout()"
        ><ion-icon name="log-out-outline"></ion-icon></ion-button
    ></ion-buttons>
  </ion-toolbar>
</div>
<ion-content>
  <div>
    <ion-list
      ><app-recipe-item
        *ngFor="let recipe of (recipes| async)"
        app-recipe-item
        [recipeItem]="recipe"
      ></app-recipe-item>
    </ion-list>
  </div>
</ion-content>
